<!doctype html>
<html>

<head>
  <title>LeetCode Contests History - Author: Lorenzo Bertelli</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/static/Chart.min.js"></script>
  <script src="/static/utils.js"></script>
</head>

<body>
  <div style="width:75%;">
    <canvas class="chartjs">
    </canvas>
  </div>
  <script>
    var userDetails = JSON.parse('{{ result|safe }}');
    var contestRanks = [];
    var contestIds = [];
    var contestScores = [];
    var contestFinishTime = [];
    var contestURLs= [];
    for (var i = 0; i < userDetails.ranks.length; ++i) {
        contestRanks.push(userDetails.ranks[i]['r']);
        contestIds.push(userDetails.ranks[i]['id']);
        contestScores.push(userDetails.ranks[i]['s']);
        contestFinishTime.push(userDetails.ranks[i]['ft'] - userDetails.ranks[i]['ts']);
        contestURLs.push('https://leetcode.com/contest/' + userDetails.ranks[i]['id'] + '/ranking');
    }

    if ($(".chartjs").length > 0){
      $( ".chartjs" ).each(function() {

        datasets=[];
        // ARRAY FOR DATASETS
        var scoreDataset=[{
              label: 'Score',
              data: contestScores,
              links: contestURLs,
              borderColor: window.chartColors.yellow,
              backgroundColor: 'rgba(0, 0, 0, 0)',
              fill: false,
              lineTension: 0,
              yAxisID: 'scoreAxis'
        }];
        var rankDataset=[{
              label: 'Rank',
              data: contestRanks,
              links: contestURLs,
              borderColor: window.chartColors.green,
              backgroundColor: 'rgba(0, 0, 0, 0)',
              fill: false,
              lineTension: 0,
              yAxisID: 'rankAxis'
        }];
        var timeDataset=[{
              label: 'Finish Time',
              data: contestFinishTime,
              links: contestURLs,
              borderColor: window.chartColors.red,
              backgroundColor: 'rgba(0, 0, 0, 0)',
              fill: false,
              lineTension: 0,
              yAxisID: 'timeAxis'
        }];

        datasets = $.merge(scoreDataset, datasets);
        datasets = $.merge(rankDataset, datasets);
        datasets = $.merge(timeDataset, datasets);

        // CHART JS INIT
        var chartType= 'line';
        var chartLabels= contestIds;
        var myChart = new Chart(this, {
            type: chartType,
            data: {
                labels: chartLabels,
                datasets: datasets,
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'LeetCode Contests History'
                },
                tooltips: {
                    callbacks: {
                      label: function(tooltipItem, data) {
                        var datasetIndex = tooltipItem.datasetIndex;
                        var index = tooltipItem.index;
                        var value = data.datasets[datasetIndex].data[index];
                        var label = data.datasets[datasetIndex].label;

                        if (datasetIndex == 0) {
                            var date = new Date(0);
                            date.setSeconds(value); // specify value for SECONDS here
                            return label + ': ' + date.toISOString().substr(11, 8);
                        }

                        return label + ': ' + value.toString();
                      }
                    } // end callbacks:
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true
                        },
                        ticks: {
                            autoSkip: false,
                            maxRotation: 45,
                            minRotation: 45
                        }
                    }],
                    yAxes: [{
                        id: 'rankAxis',
                        position: 'left',
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Rank'
                        },
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: 200,
                        },
                    }, {
                        id: 'scoreAxis',
                        position: 'right',
                        display: false,
                        scaleLabel: {
                            display: false,
                            labelString: 'Score'
                        },
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: 30,
                        },
                        gridLines: {
                            drawOnChartArea: false,
                        }
                    }, {
                        id: 'timeAxis',
                        position: 'right',
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Finish Time'
                        },
                        ticks: {
                          callback: value => {
                            var date = new Date(0);
                            date.setSeconds(value); // specify value for SECONDS here
                            return date.toISOString().substr(11, 8);
                          }
                        },
                        gridLines: {
                            drawOnChartArea: false,
                        }
                    }]
                }
            }
        });  

        $(this).on('click', function(evt){
            var activePoint = myChart.getElementAtEvent(evt);
            if(activePoint[0]){
              var URL = myChart.data.datasets[activePoint[0]._datasetIndex].links[activePoint[0]._index];
              console.log(URL);
              window.open(URL, '_blank');
            }
        });
      });
    }
  </script>
</body>

</html>
